*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
  }
  body{
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .no-border td:first-child {
    border-left: none !important;
    border-bottom: none !important;
    border-top: none !important;
  }
  @media (max-width: 992px) {
    .mobile-nav {
      position: fixed;
      top: 56px;
      left: 0;
      width: 225px;
      height: calc(100vh - 56px);
      z-index: 1030;
      transition: transform 0.3s ease-in-out;
    }
  
    .sb-sidenav-toggled .mobile-nav {
      transform: translateX(-100%);
    }
  
    .layoutSidenav_content {
      margin-left: 0 !important;
    }
  }